.player {
  display: inline-block;
  border: 1px solid black;
}
html {
  font-family: 'arial', sans-serif;
}
canvas {
  border: 1px solid black;
}
.deckEditor, #diceEditors {
  padding: 5px;
  margin: 5px 0px;
  border: 2px solid #888;
  border-radius: 5px;
  width: max-content;
}
.cardAdder, .diceEditor {
  margin: 10px 0px;
}
